.todo__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 490px;
  overflow-y: auto;
  overflow-x: hidden;
}

.todo__list::-webkit-scrollbar {
  width: 8px;
}

.todo__list::-webkit-scrollbar-track {
  background: var(--border);
  border-radius: 4px;
}

.todo__list::-webkit-scrollbar-thumb {
  background: var(--muted);
  border-radius: 4px;
}

.todo__list::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
